USE [master]
GO
/****** Object:  Database [TestLog]    Script Date: 2022/9/7 下午 04:35:15 ******/
CREATE DATABASE [TestLog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestLog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER_2019\MSSQL\DATA\TestLog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestLog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER_2019\MSSQL\DATA\TestLog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestLog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestLog]
GO
/****** Object:  Table [dbo].[LogItem]    Script Date: 2022/9/7 下午 04:35:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogItem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LogMsg] [nchar](50) NULL,
 CONSTRAINT [PK_LogItem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
